#u669-24
{
	background-color: transparent;
	text-align: left;
}

#u669-5,#u669-11,#u669-17
{
	color: #0D2727;
}

#u934-6
{
	background-color: transparent;
	text-align: center;
	font-weight: bold;
}

#u668,#u619
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u620
{
	background: -webkit-gradient(linear, left center, right center, from(#0D2727),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0D2727 ,#000000 100%);
	background: linear-gradient(to right,#0D2727 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0D2727, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0D2727', endColorstr='#FF000000', GradientType=1)";
}

#u633
{
	border-width: 0px;
	border-color: transparent;
	background-color: #51BFC9;
}

#u633:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u633.MuseLinkActive
{
	background-color: #51BFC9;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u623
{
	border-width: 0px;
	border-color: transparent;
	background-color: #21B0B8;
}

#u623:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u623.MuseLinkActive
{
	background-color: #21B0B8;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u627
{
	border-width: 0px;
	border-color: transparent;
	background-color: #308796;
}

#u627:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u627.MuseLinkActive
{
	background-color: #308796;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u626
{
	border-width: 0px;
	border-color: transparent;
	background-color: #376D78;
}

#u626:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u626.MuseLinkActive
{
	background-color: #376D78;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u622
{
	border-width: 0px;
	border-color: transparent;
	background-color: #07C9D8;
}

#u622:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u622.MuseLinkActive
{
	background-color: #07C9D8;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u621
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
}

#u621:hover
{
	background-color: #0D2727;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u621.MuseLinkActive
{
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u625-4
{
	background-color: transparent;
	text-transform: uppercase;
	line-height: 12px;
	font-size: 10px;
	font-style: italic;
}

#u629-4,#u632-4,#u631-4,#u628-6,#u624-4,#u634-4
{
	background-color: transparent;
	text-transform: uppercase;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-style: italic;
}

#u1252
{
	background-color: #0D2727;
}

#u3515
{
	background-color: transparent;
}

#u3512-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
}


